.text{
    padding-top: 60px;
}
.logo{
    width: 120px;
}

.jumbotron{
    margin-bottom: 0;
    height: 300px;
    background-image: url(../foto/achtergrond.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    position: relative;
    background-color: white;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}



.article {
    width: 450px;
    height: 360px;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin: 100px 20px 25px 20px;

    position: relative;

}

.article img {
    width: 400px;
    height: 200px;
    margin: 10px 10px 10px 10px;
}

.article p{
    font-family: sans-serif;
    font-size: 20pt;
}

button{
    height: 50px;
    width: 400px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

footer {
    background-color: grey;
    display: table-row;
    height: 0;
}